/* General */
body {
  font-family: 'Work Sans', sans-serif;
  color: #000;
  font-size: 16px;
}
a {
    color: #4a4a4a;
    text-decoration: none;
}
h1 {
  text-transform: uppercase;
}

/* Header */
header {
  text-align: center;
  padding: 40px 0 15px;
}
header .logo {
  text-decoration: none;
  position: relative;
  font-size: 22px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
}

/* Body */
main {
  text-align: center;
}
#avatar-container {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 4px;
    background-color: #fff;
    margin: 0 auto;
}
.avatar {
    background: url(../img/kris1.jpg) no-repeat 50% 50%;
    background-size: contain;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    display: block;
}
.social {
  padding: 0;
}
.social li {
  display: inline-block;
  margin-right: 10px;
}
.social a {
  outline: medium none;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: bottom;
  white-space: nowrap;
}
.social a:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 161, 210, 0.2);
  content: '';
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
  -webkit-transform: translateY(95%);
  transform: translateY(95%);
}

.social a:hover:before,
.social a:focus:before {
  transform: translateY(0);
}
