---
---

//
// IMPORTS
//
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,600,700");
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

body, html {
    font-size: 62.5%;
}

body {
  background: $white;
  font: 15px/1.9 'Fira Sans', sans-serif;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 525px;
  padding: 0 10px;
  width: 100%;
}
.container.post,
.container.project-page {
  max-width: 740px;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  line-height: 1.4;
}

h1 {
  font-size: 2.6rem;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}


// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

header {
    text-align: center;
    padding: 60px 0 40px;
    margin-bottom: 20px;
  .site-avatar {
    img {
      border-radius: 100%;
      margin-bottom: 25px;
    }
  }
  .site-name {
    font-size: 4rem;
    margin: 0 0 13px;
    line-height: 1;
  }
  .site-description {
    margin: 0 auto 30px;
    color: $gray;
    font-size: 1.85rem;
    font-weight: normal;
  }
  nav {
    font-size: 2rem;
    a {
      margin: 0 10px;
      color: $darkGray;
    }
    .active {
      border-bottom: 2px solid #333;
    }    
  }  
}



//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}


footer {
  padding: 60px 0 20px;
  text-align: center;
  font-size: 15px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 3px;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        display: block;
        color: $darkGray;
        &:hover {
          opacity: .6;
          color: $darkGray;
        }
      }
    }
  }
}


form#contact-form {
    max-width: 500px
}

.contact form input {
    font-size: 1em;
    border: 1px #fff solid;
    background: #ececec;
    padding: 1em;
    width: 100%;
    margin: .5em 0;
    color: #555;
    font-family: 'Arimo', sans-serif
}

.contact form textarea {
    font-size: 1em;
    border: 1px #fff solid;
    font-family: 'Arimo', sans-serif;
    background: #ececec;
    margin: .5em 0;
    width: 100%;
    height: 10em;
    padding: 1em;
    min-width: 220px
}

.contact form input:focus,
.contact-rap form textarea:focus {
    border: 1px #ccc solid
}

.contact form .btn {
    cursor: pointer;
    background: #276ee3;
    color: #fff;
    width: auto;
    padding: 10px 20px
}

.contact form .btn:hover,
.contact form .btn:focus,
.contact form .btn:active {
    background-color: #224eab
}



@import "highlights";