---
---

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "normalize";
html {
      position: relative;
    min-height: 100%;
  color: #333;
  font: 400 1em/1.6 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
}


h1, h2, h3, h4 ,h5, h6 {
  color: #3b3b3b;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
    line-height: 1.4;
    font-style: normal;
}

h2 {
  font-size: 1.433em;
  margin: 2em 0 1em;
}
h3 {
  font-size: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
}

pre>code {
  font: inherit;
  color: inherit;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  border-radius: .25rem;
}

pre {
  overflow: auto;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}

a {
  color: #0085c3;
  text-decoration: none;
}
a:focus, a:hover {
  color: #0085c3;
}
ol, ul {
  margin: 0 0 1.5em;
  padding-left: 1em;
}
@media screen and (min-width: 48em) {
  ol, ul {
      padding-left: 2.28em;
  }
}
li {
  margin-bottom: .333em;
}
figure {
  margin: 0;
}
strong {
  font-weight: 600;
}

.clear {
  clear: both;
}

hr {
  border: 1px solid #eee;
}





.btn {

  display: inline-block;
  padding: .3em 1em;
  background-color: #0085c3;
  border: 1px solid #0085c3;  
  color: #fff;
  cursor: pointer;
  font-size: .7125em;
  line-height: normal;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: #fff;
  }
}




#page-wrap {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}








/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  background: rgba(255,255,255,.9);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  padding: 20px 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

// header .container {
//       max-width: 95%;
// }


.shrink {
  padding: 0;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0;
  color: #000;
  float: left;
  &:hover {
    color: #000;
  }
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .2);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 768px) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  padding: 0.7em 1em 0.7em 0;
  color: #666666;
  width: 100%;
  float: left;
  &:hover {
    color: #0085c3;
  }
}

@media screen and (min-width: 768px) {
  .nav-collapse a {
    padding: 1.02em 1em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
  
  .nav-collapse li:last-child a {
    padding-right: 0;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #000; /* Edit this to change the icon color */
  font: normal 28px/55px "FontAwesome"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: right;
  position: absolute;
  content: "\f0c9"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\f00d"; /* Close icon */
}




// Intro

.intro {
  max-width: 590px;
  font-size: 18px;
  margin-bottom: 4em;
}


//  Projects

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
  margin-right: 30px;
  margin-bottom: 30px;
}
[class^="col"]:last-of-type {
  margin-right: 0;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
@media (max-width: 640px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
.flex-grid { 
  margin: 0 0 20px 0;
}



.projects a {
    height: 300px;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 20px 15px;
    color: #333;
    position: relative;
}
.projects a span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    background-color: transparent;
    background-image: -webkit-linear-gradient(bottom,transparent 50%,rgba(0,0,0,.6) 100%);
    background-image: linear-gradient(to top,transparent 50%,rgba(0,0,0,.6) 100%);  
}
.projects a:hover span, .projects a:active span, .projects a:focus span {

}
.tiac {
  background: url(img/tiac.jpg);
}
.western {
  background: url(img/nvan.jpg);
}
.reibc {
  background: url(img/reibc2.jpeg);
}
.session {
  background: url(img/secure-login.jpg);
}
.reg-form {
  background: url(img/form.jpg);  
}

.projects p {
  text-align: center;
}



/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
animation-delay: 0.1s;
}

.fade-in.two {
-webkit-animation-delay: 0.5s;
-moz-animation-delay:0.5s;
animation-delay: 0.5s;
}

.fade-in.three {
-webkit-animation-delay: 0.9s;
-moz-animation-delay: 0.9s;
animation-delay: 0.9s;
}

.fade-in.four {
-webkit-animation-delay: 1.3s;
-moz-animation-delay: 1.3s;
animation-delay: 1.3s;
}

.fade-in.five {
-webkit-animation-delay: 1.7s;
-moz-animation-delay: 1.7s;
animation-delay: 1.7s;
}

























//  Blog

#hm-post {
  h2 {
    margin: 0;
    font-size: 1.8em;
    color: #3b3b3b;
    line-height: 1.4;
    &:hover, &:active, &:focus {
      color: #0085c3;
    }
  }
  p {
    color: #444;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
    border-top: 1px solid #eee;
    padding-top: 3.5em;
    margin-top: 3.5em;
    margin-bottom: 0; 
    &:first-of-type {
      border: none;
    padding-top: 0;      
    }
    }
  }
  a {
    color: rgba(35,37,40,.7);
    display: block;
  }
  a:hover {
    color: #0085c3;
  }
  a:hover h3 {
    color: #0085c3;
  }
  .date {
    font-size: 12px;
    color: #999;
  }
}    

ul.posts {
    list-style-type: none;
    padding-left: 0;
    li {
      border-bottom: 1px solid #eee;
      margin-bottom: 2em;
      padding-bottom: 2em;
      .postTitle {
        color: #222;
        font-weight: bold;
        line-height: 1.4;
        font-size: 1.3em;
        text-decoration: none;
        border-bottom: none;
        &:hover, &:active, &:focus {
          color: #1a9df5;
        }
      }
    }
}

.post {
  h1 {
    border: none;
    font-size: 2.3em;
  }
  .date {
    font-size: .8125em;
  }
  .post-categories {
    margin: .5em 0 1.5em;
    a {
      text-decoration: none;
    }
}
}

  .post-categories {
    a {
      text-decoration: none !important;
    }
}

.read-more {
    text-align: right;
    margin-top: 10px;
}

.read-more a:after {
    font-family: FontAwesome;
    content: '\f105';
    padding-left: 10px;
}

.date {
  display: block;
  padding-bottom: .5em;
  text-transform: uppercase;
}

#about {
      img {
    max-width: 180px;
    border-radius: 10%;
    margin: 0 0 1em 1em;
    float: right;
  }
}

#about-site {
  .btn {
    background: #444;
    color: #fff;
    border-radius:4px;
  }
}

  .container, .post-container, .page-container {
    margin: 0 auto;    
    padding: 0 20px;
  }
  .container, .page-container {
    max-width: 1080px;    
  }
  .post-container {
    max-width: 700px;
  }


main.container {
    margin: 7em auto 5em;
    clear: both;
}
main.post-container {
    margin: 7em auto 5em;
    clear: both;  
}
main.page-container {
     margin: 7em auto 5em;
    clear: both;  
}

@media screen and (min-width: 768px) {
main.container {
    margin: 12em auto 5em;
}
main.post-container {
    margin: 12em auto 5em;
}
main.page-container {
     margin: 12em auto 5em;
}
}


.PageNavigation a {
  background: #0085c3;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.PageNavigation a:after {
  background: none;
}

.PageNavigation p {
  margin: 0;
}

.PageNavigation {
  overflow: auto;
}

a.prev {
  float: left;
    &:before {
    font-family: FontAwesome;
    content: '\f104';
    padding-right: 8px;
  }
}

a.next {
  float: right;
  &:after {
    font-family: FontAwesome;
    content: '\f105';
    padding-left: 8px;
  }
}





/*---------------------
  Section - Contact
---------------------*/

.contact-rap {
  h2 {
    margin: .5em 0 0;
  }
}


.profile-img {
margin:1em;
}
.profile-img {
border-radius:10em;
}


.contact-rap form input {
padding:.5em;
width:100%;
margin:.5em 0;
color:#555;
    border: 1px solid #eee;
    max-width: 300px;
    background-color: #eef4f4;
    display: block;
}

.contact-rap p:first-of-type {
    margin-bottom: 2em;
}


.contact-rap form textarea {
margin:.5em 0;
width:100%;
height:10em;
padding:.5em;
    border: 1px solid #eee;
    background-color: #eef4f4;
}

.contact-rap form .btn {
    padding: .7em;
    cursor: pointer;
    background: #0085c3;
    border: 1px solid #0085c3;
    color: #fff;
    max-width: 120px;
    font-size: 16px;
    &:hover, &:active, &:focus {
      color: #0085c3;
      background: #fff;
      border: 1px solid #0085c3;
    }
}

#thankyouBlock {
    text-align: center;
    background: #0085c3;
    padding: 1em;
    color: #fff;
    font-size: 1.4em;
    p {
      margin: 0;
    }
}

div#thankyouBlock p {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    margin: 10px 0 40px;
}

table, td, th {
    padding: 5px;
}

table td {
  width: 150px;
  &:before {
    font-family: FontAwesome;
    content: '\f105';
    padding-right: 10px;
    color: #bbb;
  }
}

footer {
  font-size: 14px;
  background-color: #eef4f4;
  padding: 45px 0;
  overflow: auto;
    p {
      margin: 0;
      float: left;
    }
    .social {
      float: right;
      .fa {
        
        font-size: 24px;
        margin-left: 15px;
      }
      a {
        color: #cccccc;
        &:hover, &:focus, &:active {
          color: #0085c3;
        }
      }
    }
}


@import "highlights";

.highlight .err {
  border: none;
}