<header>
    <div class="container">
      <div class="header-wrap">
      <div class="site-info">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="../img/logo.png" /></a>
        <h1 class="site-name"><a href="/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>

      <nav>
        <a {% if page.url == '/' %} class="active"{% endif %} href="{{ site.baseurl }}/">Portfolio</a>
        <a {% if page.url == '/posts/' %} class="active"{% endif %} href="{{ site.baseurl }}/posts">Blog</a>
        <a {% if page.url == '/about/' %} class="active"{% endif %} href="{{ site.baseurl }}/about">About</a>
        <a {% if page.url == '/contact/' %} class="active"{% endif %} href="{{ site.baseurl }}/contact">Contact</a>
      </nav>
     </div>
  </div>
</header>