---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;


.menu {
    margin-top: 4px;
    text-align: right;
}
.menu a {
	padding: 0 10px;
}

.menu.home {
	text-align: center;
	margin-top: 15px;
}

.no-cover .main-nav.overlay, .no-cover .back-button, .no-cover .subscribe-button {
	margin-left: 15px;
}