/* ==========================================================================
   Article
   ========================================================================== */

.c-article {
    margin-bottom: 10rem; // 100px
}

.c-article__header {
    margin-bottom: 5rem; // 50px
    @media screen and (min-width: $bp__sm) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
    }
}

.c-article__title {
    @include fs--heading-1;
    color: $c-base__02;
}

.c-article__time {
    @include fs--body;
    color: $c-base__01;
}

.c-article__main {
    margin-bottom: 5rem; // 50px
    @include fs--body;
    color: $c-base__01;

    > * {
        margin-bottom: 1.8rem; // 18px
    }

    h2 {
        @include fs--heading-2;
    }

    h3 {
        @include fs--heading-3;
    }

    h4 {
        @include fs--heading-4;
    }

    h5 {
        @include fs--body;
    }

    strong {
        color: $c-base__02;
        font-weight: 400;
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.8rem; // 18px
        border-left: 1px solid #EFF1F3;
    }

    ul,
    ol {
        margin-left: 2.1rem;
    }
    
}

.c-article__footer {

}


.responsive-table {
    border-collapse: collapse;
    width: 100%;
}
.responsive-table th, .overflow-table th {
    background-color: #4db380 !important;
    vertical-align: middle;
}
.responsive-table th h3, .overflow-table th h3 {
    color:#fff;
}
.responsive-table th,
.responsive-table td,
.overflow-table th,
.overflow-table td {
    border: 1px solid #cccccc;
    padding: 8px;
}
.responsive-table th h3 {
  margin: 5px 0;
}
.overflow-table h3 {
    font-size: 15px;
    margin: 0;
}
.responsive-table tr:nth-child(even),
.overflow-table tr:nth-child(even) {
    background-color: #eeeeee;
}

@media (max-width: 600px) {
.responsive-table td, .responsive-table th {
  display: block;
 }
.responsive-table tr td {  
  float: left\9; /* IE9 */
  width: 100%;
 }
.responsive-table td {
  border: none;
 }
 .overflow-table {
    display: block;
    overflow-x: auto;
}
}