/* ==========================================================================
   Page
   ========================================================================== */

.c-page {

}

.c-page__header {
    margin-bottom: 10rem; // 100px

    h1 {
        margin-bottom: 2.5rem; // 25px
        @include fs--heading-2;
        color: $c-base__02;
    }

    p {
        @include fs--meta;
    }
}

.c-page__footer {
    margin-bottom: 10rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    p {
        @include fs--body;
        color: $c-base__01;
    }
}
header {
      text-align: center;
}
header img {
      width: 100px;
    border-radius: 100%;
    margin-bottom: 3rem;
  }


// .c-page__header h1 {
//     float: left;
//     margin: 0;
// }
.c-page__header h1 a {
    color: #163541;
    display: inline-block;
}
// .c-page__header p {
//     float: right;
//     line-height: 3.35;
// }
// .c-page__header {
//     background: #f9f9f9;
//     padding: 10px 20px;
//     margin-bottom: 0;
// }
// .c-page__header:after {
//     content: " ";
//     display: block;
//     clear: both;
// }
.projects p {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #EFF1F3;
}
form input[type=text], form input[type=email] {
  padding: 1em;
  width: 100%;
  margin: 1em 0;
  border: 1px solid #fff;
  background: #f1f1f1;
  display: block;
}
form h3 {
  margin: 0 0 25px;
}
form input[type=submit] {
  float: right;
  margin-top: 20px;
}
form textarea {
  font-family: sans-serif;
  margin: 0.5em 0;
  display: block;
  width: 100%;
  height: 14em;
  padding: 1em;
  border: 1px solid #fff;
  background: #f1f1f1;
}
form:after {
  content: " ";
  display: block;
  clear: both;
}
form input[type=submit] {
    background: #555;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px 24px 8px;
    font-weight: bold;
}
form input[type=submit]:hover,
form input[type=submit]:active,
form input[type=submit]:focus {
    background: #777;
}
